.app {
  min-height: 100vh;
  background: #283747;
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
}

.title-sidebar {
  display: grid;
  overflow-wrap: break-word;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 1px;
  row-gap: 0px;
  background: #101010;
  height: 100vh;
  color: white;
  font-size: 5vh;
  justify-content: stretch;
  vertical-align: center;
  text-align: center;
}

.statement::before {
  content: "";

  
  display: block;
  background-image: url("space-background.jpg");
  background-size: cover;
  background-position: center;
}

.statement {
  color: white;
  display: flex;
  flex-direction: row;
  flex: 400px;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  background-image: url("space-background.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);

}

.red {
  color: red;
  font-size: 50px;
}