.app {
  min-height: 100vh;
  background: white;
  display: flex;
}

.app-wrapper {
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h2 {
  color: rgb(130, 40, 220)
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-sidebar {
  display: grid;
  overflow-wrap: break-word;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 1px;
  row-gap: 0px;
  background: white;
  height: 100vh;
  color: white;
  font-size: 8vh;
  justify-content: stretch;
  vertical-align: center;
  text-align: center;
}

.statement-wrapper {
  min-height: 100vh;
  position: relative;
  background-image: url("space-background3.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.statement {
  animation: fadeIn 2s;
  border: 2px;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  border-style: solid;
  border-color: white;
  color: white;
  display: flex;
  flex-direction: row;
  flex: 400px;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  font-family: "Courier";
  backdrop-filter: blur(2px); /*may want to change this blur later */
}

.statement-sidebar {
  font-family: "Courier";
  grid-column-start:1;
  grid-column-end: 1;
  font-size: 7vh;
  display: grid;
  color: white;
  grid-row-start: 2;
  grid-row-end: 6;
  text-align: center;
  backdrop-filter: blur(1px);
}

.statement-down-arrow {
  animation: fadeIn 6s;
  font-size: 6vh;
  grid-column-start: 4;
  grid-row-start: 6;
  text-align: center;
  justify-content: bottom;
  color: rgb(100, 120, 200);
}

.about-me-wrapper {
  min-height: 100vh;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: white;
  border-bottom: white;
  border-style: dashed;
  border-width: 3px;
}

.about-me-image {
  grid-column-start: 12;
  grid-column-end: 19;
  grid-row-start: 2;
  grid-row-end: 10;
  background-image: url("me.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5vh;
  border: white;
}

.about-me-text {
  font-size: 4vh;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 10;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(11, 1fr);
}

.about-me-text-title {
  border: white;
  border-bottom: black;
  border-style: solid;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 12;

}

.about-me-text-content {
  grid-row-start: 5;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end: 12;
}

.about-me-github-image {
  grid-row-start: 17;
  grid-row-end: 20;
  grid-column-start: 3;
  grid-column-end: 6;
}

.about-me-github-image:hover {
  grid-row-start: 17;
  grid-row-end: 21;
  grid-column-start: 3;
  grid-column-end: 7;
}

.about-me-linkedin-image {
  grid-row-start: 17;
  grid-row-end: 20;
  grid-column-start: 7;
  grid-column-end: 10;
}

.skills-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  /* border: white;
  border-bottom: black;
  border-style: solid; */
}

.skills-border {
  grid-column-start: 2;
  grid-column-end: 30;
  grid-row-start: 1;
  grid-row-end: 30;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1vh;
}

.skills-diagram {
  background-image: url("Complete Programming Languages.png");
  background-size: cover;
  background-position: center;
  grid-column-start: 7;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 21;
  font-size: 4vh;
}

.skills-title {
  font-size: 5vh;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  border: white;
  border-bottom: black;
  border-style: solid;
  text-align: center;
  justify-content: center;
}

.projects-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  background-color: white;
}

.projects-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.project-item-1 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 15;
  border: black solid 1vh;
  background: url("CampusMap2.gif");
  background-size: cover;
  background-position: 60% 50%;
}

.project-item-1:hover {
  background:rgb(164, 104, 224);
  text-align: center;
  color: black;
  font-size: 4vh;
  justify-content: center;
}

.project-item-2 {
  grid-column-start: 12;
  grid-column-end: 20;
  grid-row-start: 3;
  grid-row-end: 15;
  border: black solid 1vh;
  background: url("Deepfake2.gif");
  background-size: cover; 
}

.project-item-2:hover {
  background:rgb(164, 104, 224);
}

.project-item-3 {
  grid-column-start: 21;
  grid-column-end: 29;
  grid-row-start: 3;
  grid-row-end: 15;
  border: black solid 1vh;
  background: url("EKG.gif");
  background-size: cover;
}

.project-item-3:hover {
  background:rgb(164, 104, 224);
}

.project-item-4 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 17;
  grid-row-end: 29;
  border: black solid 1vh; 
  background: url("Robot.gif");
  background-size: cover;
}

.project-item-4:hover {
  background:rgb(164, 104, 224);
}

.project-item-5 {
  grid-column-start: 12;
  grid-column-end: 20;
  grid-row-start: 17;
  grid-row-end: 29;
  border: black solid 1vh;
  background: url("NASA.gif");
  background-size: cover;
  background-position: center;
}

.project-item-5:hover {
  background:rgb(164, 104, 224);
}

.project-item-6 {
  grid-column-start: 21;
  grid-column-end: 29;
  grid-row-start: 17;
  grid-row-end: 29;
  border: black solid 1vh;
}

.project-item-6:hover {
  background:rgb(164, 104, 224);
}

.experience-wrapper {
  min-height: 100vh;
}


